.main-container {
  background-color: greenyellow;
  border: 2px solid goldenrod;
  box-shadow: 1px 1px red;
  border-radius: 3px;
  width: 100%;
  margin-right: 50px;
}

.main-header {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section a {
  text-decoration: none;
  margin-right: 32px;
  font-size: 15px;
  font-weight: 600;
}

.about-section a:hover {
  color: pink;
}

.nav-header h2 {
  color: black;
  text-shadow: 2px 2px 5px red;
}
